.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Center the links block  dumy*/
.list-group {
  display: inline-block;
}

.list-group-item {
  border-radius: 0;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}

/* Ensure content columns align properly */
.row {
  margin-left: 0;
  margin-right: 0;
}

.col-md-3,
.col-md-9 {
  padding-left: 0;
  padding-right: 0;
}

.awssld__wrapper {
  height: 100px;
}
.slider-test{
  height: 85vh;
  margin-bottom: 20px;
 
}


/* feture */
/* Basic reset to remove default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

.product-details {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.product-details h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.product-details img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 30px;
  flex-shrink: 0;
}

.product-details p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 10px;
}

.product-details p span {
  font-weight: bold;
}

.product-details p:last-child {
  margin-bottom: 0;
}

.product-details div {
  flex: 1;
  max-width: 600px;
}

.product-details .price {
  font-size: 1.5rem;
  color: #e67e22;
  margin-top: 20px;
  margin-bottom: 10px;
}

.product-details .size,
.product-details .stock,
.product-details .brand,
.product-details .category {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

/* Responsive design */
@media (max-width: 768px) {
  .product-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-details img {
    width: 100%;
    margin-bottom: 20px;
  }

  .product-details div {
    max-width: 100%;
  }
}


